<div class="settings">
    <span id="tittle">{{'Settings' | translate}}</span>
    <div class="location">
        <span class="material-symbols-outlined fill">location_on</span>
        <span id="info">Amman,Jordan</span>
    </div>
    <div class="phone">
        <span class="material-symbols-outlined fill">settings_phone</span>
        <span id="info">+962 7001 345</span>
    </div>
    <div class="email">
        <span class="material-symbols-outlined fill">email</span>
        <span id="info">invoices@gmail.com</span>
    </div>
    <div class="latestinvoice">
        <span id="latest">Latest invoice: </span>
        <span id="info">908654</span>
    </div>
    
    
</div>
<button class="add-button" (click)="openAddSetting()">
    <span class="material-symbols-outlined">add</span>
  </button>
