<div class="employees">
    <div [formGroup]="dataForm" class="row mb-4 m-0  p-0">
      <div class="container d-flex">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-3">
            <div class="flex flex-wrap justify-content-center gap-3">
                <span class="p-input-icon-left p-0">
                  <i class="pi pi-search"></i>
                  <input class="search-field" type="text"  placeholder="{{ 'Search_EmployeeName'| translate }}"
                    formControlName="employeeName" pInputText />
                </span>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-3">
          <div class="flex flex-wrap justify-content-center gap-3">
              <span class="p-input-icon-left p-0">
                <i class="pi pi-search"></i>
                <input class="search-field" type="text"  placeholder="{{ 'Search_EmployeePhone'| translate }}"
                  formControlName="phoneNum" pInputText />
              </span>
          </div>
        </div>
       
          
       
          <div class="col result">
            <p-button class="btn-outline-secondary" >
              <span class="material-symbols-outlined">restart_alt</span>
            </p-button>
          </div>
        
      </div>
     
  
    </div>
  
  
    <ng-container *ngIf="!loading; else ListView">
      <div class="row mx-0 mt-2 box">
        <div>
          <div class="card col-12 mx-0 mb-2">
            
                <div class="image-container col-lg-2 col-md-6 col-sm-6">
                  <div class="user-card__image client-image">
                  <img src="../../../../assets/images/upload.jpg" alt="">
                  </div>
                </div>
              
          

           
            <div class="col-lg-9 col-md-12 col-sm-12 card__contents">
            
              <div class="card-section1">
                <div class="card-section__items">
                  <div class="card__contents__item">
                    <div class="card-label">{{ 'employeeFirstName' | translate }}</div>
                    <div class="card-info">
                      <span class="material-symbols-outlined fill"></span>
                      Nour
                    </div>
                  </div>
                  <div class="card__contents__item">
                    <div class="card-label">{{ 'employeeLastName' | translate }}</div>
                    <div class="card-info">
                      <span class="material-symbols-outlined fill"></span>
                      Saleem
                    </div>
                  </div>
                  <div class="card__contents__item">
                    <div class="card-label">{{ 'employee-phone' | translate }}</div>
                    <div class="card-info">
                      <span class="material-symbols-outlined fill"></span>
                      0958902520
                      
                    </div>
                  </div>
                  <div class="card__contents__item">
                    <div class="card-label">{{ 'EmployeeUserName' | translate }}</div>
                    <div class="card-info">
                      <span class="material-symbols-outlined fill"></span>
                      Nour_99
                      
                    </div>
                  </div>
                 
                 
                
                  
                 
                </div>
              </div>
              <div class="card-section2">
                <div class="card-section__items">
                    <div class="card__contents__item">
                        <div class="card-label">{{ 'employeeEmail' | translate }}</div>
                        <div class="card-info">
                          <span class="material-symbols-outlined fill"></span>
                         nawarasa99@gmail.com
                          
                        </div>
                      </div>
                      <div class="card__contents__item">
                        <div class="card-label">{{ 'Birthdate_employee' | translate }}</div>
                        <div class="card-info">
                          <span class="material-symbols-outlined fill"></span>
                         29-7-1999
                          
                        </div>
                      </div>

                </div>
            </div>
              
            </div>
           
  
              
  
  
          
            <div class="one">
              <div [matMenuTriggerFor]="menu" class="card__actions">
                <span class="material-symbols-outlined card__actions__details">more_vert</span>
              </div>
              <mat-menu #menu="matMenu">
                <button mat-menu-item >
                  <span class="material-symbols-outlined">Edit</span>
                  {{ 'Edit_Driver' | translate }}
                </button>
                <button mat-menu-item >
                  <span class="material-symbols-outlined">delete</span>
                  {{ 'Delete_Driver' | translate }}
                </button>
              </mat-menu>
  
            </div>
          </div>
          
        </div>
      </div>
  
      <div class="all d-flex">
        <div class="total">
          {{ "totalemployee" | translate }}:12
        </div>
        
      </div>
      <p-paginator class="mt-2" [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[4, 12, 20, 30]"
          [first]="first"></p-paginator>
      <button class="add-button" (click)="OpenDialog()">
        <span class="material-symbols-outlined">add</span>
      </button>
  
    </ng-container>
    <!-- <ng-container *ngIf="!loading; else ListView">
        <div class="row mx-0 mt-2 box">
          <div>
            <div class="card col-12 mx-0 mb-2">
              <div class="col-lg-2 col-md-6 col-sm-6 d-flex card__left" style="border: none;">
                <div class="image-container">
                  <div class="user-card__image client-image">
                  <img src="../../../../assets/images/PADLE-ME.svg" alt="">
                  </div>
                </div>
              </div>
    
              <div class="col-lg-9 col-md-12 col-sm-12 card__contents">
                <div class="card-section">
                  <div class="card-section__title">info</div>
                  <div class="card-section__items">
                    <div class="card__contents__item">
                      <div class="card-label">{{ 'ClientName' | translate }}</div>
                      <div class="card-info">
                        <span class="material-symbols-outlined fill"></span>
                      
                      </div>
                    </div>
    
                  </div>
                </div>
    
                <div class="card-section  d-flex" id="box3">
                  <div class="card__contents__item">
                    <div class="card-label">{{ 'contryCode' | translate }}</div>
                    <div class="card-info">{{row.user.countryCode}}</div>
                  </div>
                  <div class="card__contents__item">
                    <div class="card-label">{{ 'client-phone' | translate }}</div>
                    <div class="card-info">{{row.phone}}</div>
                  </div>
                  <div class="card__contents__item">
                    <div class="card-label">{{ 'client-gender' | translate }}</div>
                    <div class="card-info">{{row.genderValue}}</div>
                  </div>
                  <div class="card__contents__item">
                    <div class="card-label">{{ 'Birthdate_client' | translate }}</div>
                    <div class="card-info">{{row.birthDate | date : 'dd-MM-yyyy'}}</div>
                  </div>
    
                  <div class="card__contents__item">
                    <div class="card-label">{{ 'CurrentQuattro_client' | translate }}</div>
                    <div class="card-info">{{row.currentQuattro}}</div>
                  </div>
    
                </div>
    
              </div>
              <div class="one">
                <div [matMenuTriggerFor]="menu" class="card__actions">
                  <span class="material-symbols-outlined card__actions__details">more_vert</span>
                </div>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openDialog(row)">
                    <span class="material-symbols-outlined">Edit</span>
                    {{ 'Edit_Client' | translate }}
                  </button>
                  <button mat-menu-item (click)="confirmDelete(row)">
                    <span class="material-symbols-outlined">delete</span>
                    {{ 'Delete_Client' | translate }}
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
    
        <div class="row">
          <div class="total">
            {{ "total" | translate }}:
            {{ totalRecords }}
          </div>
          <p-paginator [rows]="pageSize" [totalRecords]="totalRecords" [rowsPerPageOptions]="[4, 12, 20, 30]"
            [first]="first" (onPageChange)="paginate($event)"></p-paginator>
        </div>
        <button class="add-button" (click)="openDialog()">
          <span class="material-symbols-outlined">add</span>
        </button>
      </ng-container> -->
    <ng-template #ListView>
      <div class="row">
        <div *ngFor="let list of [1, 2, 3, 4]" class="row mx-0 mt-2">
          <p-skeleton height="7.5rem"></p-skeleton>
        </div>
      </div>
    </ng-template>
  
  </div>
  


