<div class="container1" style="width: 100%;
display: flex;
flex-direction: column;
padding-top: 0.5rem;
padding-bottom: 0.5rem;">
  <div class="actions">
    <button class="btn btn-primary" (click)="print()">
      {{'Print_PrintInvoice' | translate}}
      <img src="../../../../assets/images/icons8-print-40.png" alt="">
    </button>
    <button class="btn btn-primary" (click)="backHome()">{{'Back_PrintInvoice' | translate}}
      <img src="../../../../assets/images/icons8-arrow-50.png" alt="">
    </button>
  </div>
  <div class=" a4-page" id="invoiceContent" #invoiceContent style="size: A4 landscape;
width: 297mm;
height: 210mm;
margin: auto;
padding: 10mm;
padding-top: 5mm;
background-color: white;
box-sizing: border-box;
text-align: center;
border: 1px solid #dee2e6;
border-radius: 0.25rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);position: relative;direction: rtl; position: relative;">
    <div class="header" [ngStyle]="{ direction: 'rtl' }" style="
    display: flex; flex-direction: column;
    margin: auto;
  padding-bottom: 5mm;">
      <span style="font-weight: bold; font-size: 2rem;">{{ setting.settingTranslation![layoutService.config.lang]?.name
        }}</span>
      <span style="font-size: 1rem;">{{ setting.settingTranslation![layoutService.config.lang]?.subTitle }}</span>
      <div
        style="display: flex; column-gap: 0.5rem; margin: auto; padding-bottom: 0.3mm; border-bottom: 1px solid black;">
        <span style="font-size: 0.8rem;">Fax:{{setting.fax}}</span>
        <span style="font-size: 0.8rem;">Tel:{{setting.phone}}</span>
        <span style="font-size: 0.8rem;">Mob:{{setting.mobile}}</span>
      </div>
      <div style="padding:1mm 2mm;border: 1px solid black;margin: auto;margin-top: 2mm;">فاتورة-Invoice</div>
      <div style="padding:1mm 4mm;;margin: auto;margin-top: 2mm;background-color:#E6F5FC ; ">
        {{invoiceResponse?.invoiceTypeValue}}</div>
      <!-- <div class="logo-container" style="width: 10rem;">
        <img [src]="setting.logo" alt="" style="width: 100%;">
      </div> -->
    </div>
    <div class="invoice-info" style="display: flex;justify-content: space-between; padding-bottom: 0.2rem;">
      <div style="display: flex;flex-direction: column;row-gap: 0.5mm;position: absolute;top: 10rem;">
        <div style="display: flex;flex-direction: column;row-gap: 0.5mm;">
          <span>{{"VatNumber_PrintInvoice" | translate}}:</span>
          <span>{{setting.vatNo}}</span>
        </div>
        <div style="display: flex; column-gap: 0.5rem;">
          <span>{{"Sirs_PrintInvoice" | translate}}:</span>
          <span>{{client?.clientTranslation![layoutService.config.lang]?.firstName }} {{
            client?.clientTranslation![layoutService.config.lang]?.lastName }}</span>
        </div>

      </div>
      <div
        style="display: flex;flex-direction: column;row-gap: 1mm;margin-left: 2rem;margin-bottom: 1rem; justify-content: center; align-items: center;position: absolute;top: 6rem;left: 0;">
        <div style="width: 5rem;margin-bottom: 3mm;">
          <img [src]="setting.logo" alt="" style="width: 100%;">
        </div>
        <div style="display: flex; column-gap: 0.5rem;">
          <span>{{"invoiceNum_PrintInvoice" | translate}}:</span>
          <span>{{invoiceResponse?.invoiceNo}}</span>
        </div>
        <div style="display: flex; column-gap: 0.5rem;">
          <span>{{"invoiceDate_PrintInvoice" | translate}}:</span>
          <span>{{invoiceResponse?.date| date : 'dd-MM-yyyy'}}</span>
        </div>
      </div>

    </div>
    <div class="table-wrapper" style="margin-top: 3rem;border: 1px solid black;min-height: 20rem;">
      <table style="width: 100%; ">
        <tr style="background-color: #8FCA7A;border-bottom: 1px solid #eeeeee;">
          <th id="productName" style="width: 10rem;"
            style="border: 0.5px dotted #eeeeee;background-color: #8FCA7A; padding: 0.5rem;width: 20rem; color: white;">
            <div style="display: flex;flex-direction: column;">
              <span>statement</span>
              <span>البيان</span>
            </div>
          </th>
          <th style="border: 0.5px dotted #eeeeee;background-color: #8FCA7A;padding: 0.5rem;color: white;">
            <div style="display: flex;flex-direction: column;">
              <span>Quantity</span>
              <span>الكمية</span>
            </div>
          </th>
          <th style="border: 0.5px dotted #eeeeee;background-color: #8FCA7A;padding: 0.5rem;color: white;">
            <div style="display: flex;flex-direction: column;">
              <span>Unit Price</span>
              <span>سعر الوحدة</span>
            </div>
          </th>
          <th style="border: 0.5px dotted #eeeeee;background-color: #8FCA7A;padding: 0.5rem;color: white;">
            <div style="display: flex;flex-direction: column;">
              <span>Tax</span>
              <span>الضريبة</span>
            </div>
          </th>
          <th style="border: 0.5px dotted #eeeeee;background-color: #8FCA7A;padding: 0.5rem;color: white;">
            <div style="display: flex;flex-direction: column;">
              <span>Total</span>
              <span>المجموع</span>
            </div>
          </th>

        </tr>
        <tr id="trContainer" *ngFor="let item of invoiceResponse?.invoiceItems">
          <td style="border: 0.5px dotted #eeeeee;padding: 0.5rem;">
            <label for="">{{item?.product?.productTranslation![layoutService.config.lang]?.name}}</label>
          </td>
          <td style="border: 0.5px dotted #eeeeee;padding: 0.5rem;">
            <label for="">{{ item.qty }}</label>
          </td>
          <td style="border: 0.5px dotted #eeeeee;padding: 0.5rem;">
            <label for="">{{ item.salePrice }}</label>
          </td>
          <td style="border: 0.5px dotted #eeeeee;padding: 0.5rem;">
            <label for="">{{ item.taxPercentage }}%</label>
          </td>
          <td style="border: 0.5px dotted #eeeeee;padding: 0.5rem;">
            <label for="">{{ item.netPrice }}</label>
          </td>

        </tr>
      </table>


    </div>
    <div style="display: flex;width: 100%;border: 1px solid black;margin-top: 1mm;">
      <div style="display: flex;flex-direction: column;row-gap: 1mm;width: 20%;padding: 0.5rem 0;">
        <span style="border-bottom: 1px solid black;">{{invoiceResponse?.discount}}</span>
        <span style="border-bottom: 1px solid black;">{{invoiceResponse?.total}}</span>
        <span style="border-bottom: 1px solid black;">{{invoiceResponse?.tax}}</span>
        <span style="border-bottom: 1px solid black;">{{ netTotal?.toFixed(3) }}</span>
      </div>
      <div
        style="display: flex;flex-direction: column;row-gap: 1mm;border-right: 1px solid black;padding: 0.5rem 0;width: 80%;">
        <span style="border-bottom: 1px solid black;width: 100%;">{{"discounts_PrintInvoice" | translate}}</span>
        <span style="border-bottom: 1px solid black;width: 100%;">{{"Totalbeforetax_PrintInvoice" | translate}} </span>
        <span style="border-bottom: 1px solid black;width: 100%;">{{"Tax_PrintInvoice" | translate}}</span>
        <span style="border-bottom: 1px solid black;width: 100%;">{{"Total_PrintInvoice" | translate}}</span>

        <span style="background-color: #E6F5FC;padding: 1mm 10rem;">{{only}}</span>


      </div>

    </div>
    <div style="margin: auto;margin-top: 2mm;"><span
        style="font-size: 0.8rem;">{{setting.settingTranslation![layoutService.config.lang]?.invoiceFooter}}</span>
    </div>
    <div style="display: flex;justify-content: space-evenly;align-items: center;margin-top: 0.5rem;">
      <div style="display: flex;">

        <label for="" style="font-weight: bold;">{{"RecieverName_PrintInvoice" | translate}}:</label>
        <label id="input"
          style="border: none;border-bottom: 2px dotted black; word-wrap: break-word;display: inline-block;padding-left: 8rem;padding-right: 8rem;">
          {{client?.clientTranslation![layoutService.config.lang]?.firstName }} {{
          client?.clientTranslation![layoutService.config.lang]?.lastName }}
        </label>

      </div>
      <div style="display: flex;">

        <label for="" style="font-weight: bold;">{{"ReceiverSignature_PrintInvoice" | translate}}:</label>
        <label id="input"
          style="border: none;border-bottom: 2px dotted black; word-wrap: break-word;display: inline-block;padding-left: 8rem;padding-right: 8rem;">
        </label>

      </div>
    </div>



  </div>