@import '../../../../assets/scss/varialbles.scss';
.container{
    padding: 1rem 1rem 1rem 0rem;
    position: relative;
    display: flex;
    column-gap: 2rem;
    @media(max-width:767px){
        flex-direction: column;
    }
    &:lang(ar){
        padding: 1rem 0 1rem 1rem;
    }
  
    .biilDetailes{
        width: 100%;
        position: relative;
        @media(max-width:767px){
            width: 80%;;
         }
        #input{
            padding: 1rem;
            border: none;
        }
        .container-field{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            column-gap: 2rem;
            @media(max-width:767px){
               row-gap: 1rem;
             }
        }
        tr{
            border-bottom: 1px solid #eeeeee;
             
        }

        td,th{
            border: 0.5px dotted #eeeeee;
            #delete{
                border: none;
                background-color: transparent;
                color: $primary-color;
            }
           

        }
        th{
            color: $blue-color;
        }
        #productName{
            display: flex;
            flex-direction: column;
            row-gap: 0.5rem;
            button{
                border: none;
                background-color:$background-green-color;
                width: 6rem;
                border-radius: 6px;
                color: white;
            }
        }
        

             .cell-input {
               width: 100%;
               box-sizing: border-box; // include padding in that width
               text-align: right; // align numbers to the right
               // optional: make overflow visible so you never clip
               overflow: visible;
             }
tr>td:not(:first-child) .p-inputtext {
  width: 100% !important;
  box-sizing: border-box;
  text-align: right;
}



    }
    .all{
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
        color: black;
        @media (max-width:767px) {
            flex-direction: column;
           align-items: center;

          }
    }
    .save{
        position: absolute;
        right: 20px;
        bottom: -100px;
        &:lang(ar){
          left: 20px;
        }
    }
    




}
// .table {
//     // position: relative;
//     height: 10rem;
//     background-color: red;
    
// }
// .custom-dropdown .p-dropdown .p-dropdown-label  {
//     position: fixed;
//     z-index: 1000;
// }

// .dropdown{

// .custom-dropdown .p-dropdown {
//     border: none !important; /* Remove the border */
//     box-shadow: none !important; /* Remove any shadow if present */
// }
// // .custom-dropdown .p-dropdown .p-dropdown-label {
// //     border: none !important; /* Remove border from the label */

// // }

// }

                .table-wrapper {
                  overflow-x: auto;
                  /* allow horizontal scroll */
                //   .custom-dropdown .p-dropdown  {
                //     position: absolute;
                //     z-index: 1000;
                // }
                }

                .wide-table table {
                  min-width: 900px;
                  /* ensure table is wide enough */
                  table-layout: auto;
                  /* columns size to their content */
                //   background-color: red;
                //  min-height: 500px;

                //   position: relative;
                //     .custom-dropdown .p-dropdown  {
                //     position: absolute;
                //     z-index: 1000;
                // }
                }

                .cell-input {
                  width: 100%;
                  box-sizing: border-box;
                  text-align: right;
                }
