<div class="container">
  <div class="biilDetailes">
    <div class="row mb-4 m-0  p-0">
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="container-field">
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-3">
            <div class="p-float-label dropdown">
              <p-dropdown [options]="invoiceTypes" optionLabel="value" optionValue="key"
                formControlName="invoiceType"></p-dropdown>
              <label>{{ 'invoiceType' | translate }}</label>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-3">
            <div class="p-float-label">
              <p-calendar [showIcon]="true" formControlName="date"></p-calendar>
              <label>{{ 'invoiceDate' | translate }}</label>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-3">

            <div class="p-float-label dropdown">
              <p-dropdown [options]="clients" optionLabel="fullName" optionValue="uuid" [filter]="true"
                [showClear]="true" formControlName="client"></p-dropdown>
              <label>{{ 'clientAccount' | translate }}</label>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-3">
            <div class="p-float-label dropdown">
              <p-dropdown [options]="taxTypes" optionLabel="value" optionValue="key"
                formControlName="taxType"></p-dropdown>
              <label>{{ 'taxType' | translate }}</label>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 mt-3">
            <div class="p-float-label">
              <textarea pInputText formControlName="note"></textarea>
              <label>{{ 'notes' | translate }}</label>
            </div>
          </div>
        </div>
      </form>
    </div>

    
    <div class="table-wrapper">
      <p-table class="table" [value]="product" editable="true" styleClass="wide-table" [scrollable]="true" scrollWidth="100%">
        <ng-template pTemplate="header">
          <tr>
            <th id="productName">{{'productName' | translate}}<button type="button" (click)="addRow()">+ {{'Add_Item' | translate}}</button></th>
            <th>{{'productUnit' | translate}}</th>
            <th>{{'TaxRate' | translate}}</th>
            <th>{{'productQuantity' | translate}}</th>
            <th>{{'productprice' | translate}}</th>
            <th>{{'productDiscount' | translate}}</th>
            <th>{{'Total' | translate}}</th>
            <th>{{'Delete' | translate}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-columns="columns" let-item let-i="rowIndex">
          <tr>
            <td>
              <div class="p-float-label dropdown">
                <p-dropdown class="custom-dropdown" [options]="products" optionLabel="name" optionValue="uuid"
                  [filter]="true" [showClear] ="true"filterBy="name" [(ngModel)]="item.productIDFK"
                  placeholder="— {{ 'selectProduct' | translate }} —" (onFilter)="FillProduct($event)"
                  (onChange)="onProductSelect($event.value, i)"></p-dropdown>
                <label>{{'productName' | translate}}</label>
              </div>
            </td>
            <td><input class="cell-input" pInputText [(ngModel)]="product.unity" name="unity{{i}}"
                (ngModelChange)="onItemChange(item)" /></td>
            <td><input class="cell-input" pInputText [(ngModel)]="item.tax" name="tax{{i}}"
                (ngModelChange)="onItemChange(item)" /></td>
            <td><input class="cell-input" pInputText [(ngModel)]="product.quantity" name="qty{{i}}"
                (ngModelChange)="onItemChange(item)" /></td>
            <td><input class="cell-input" pInputText [(ngModel)]="product.price" [value]="item.price" name="price{{i}}"
                (ngModelChange)="onItemChange(item)" />
            </td>
            <td><input class="cell-input" pInputText [(ngModel)]="item.discount" name="disc{{i}}"
                (ngModelChange)="onItemChange(item)" /></td>
            <td><input class="cell-input" pInputText [(ngModel)]="product.tatal" [value]="item.total" name="total{{i}}"
                readonly /></td>
            <td>
              <button type="button" id="delete" (click)="removeRow(i)">
               <span class="material-symbols-outlined fill">delete</span>

              </button>
            </td>
          </tr>

        </ng-template>
      </p-table>
    </div>
    <div class="all d-flex">
      <div class="total">
        {{ "totalinvoice" | translate }} : {{total | number:'1.3-3'}}
      </div>

      <div class="total">
        {{ "discounts" | translate }} :{{discount | number:'1.3-3'}}
      </div>
      <div class="total">
        {{ "salesTax" | translate }} : {{tax | number:'1.3-3'}}
      </div>
      <div class="total">
        {{ "Total" | translate }} : {{netTotal | number:'1.3-3'}}
      </div>


    </div>

    <div class="save col-xs-12 text-end">
      <p-button type="button" class="btn-primary" label="Save" [loading]="btnLoading" (onClick)="onSubmit()"></p-button>
    </div>
  </div>
</div>
